[Unit]
Description=Pihole Prometheus Exporter
After=network.target

[Service]
Type=simple
User={{ prometheus_pihole_exporter_user }}
WorkingDirectory={{ prometheus_pihole_exporter_home_dir }}
ExecStart={{ prometheus_pihole_exporter_install_root }}/pihole_exporter-{{ prometheus_pihole_exporter_os }}-{{ prometheus_pihole_exporter_bin_arch }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
